<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-bckgrd">
  <ion-navbar class="navbar-header">
    <!-- <h1 style="color: white;">تفہیم القرآن</h1> -->
    <div style="display:inline-block;">
      <!-- <img src="assets/imgs/tuq-icon.png" class="logo-main" /> -->
      <span class="text-header">About</span></div>
    <img src="assets/imgs/icon3.png" class="icon2class" (click)="popover()" />

  </ion-navbar>
</ion-header>

<ion-content class="body-img">
  <p class="about-content">
    Tafheem-ul-Quran is one of the most extensive and popular works on the translation and commentary of the Holy Qur'an.
    Spread over 6 volumes, it took Syed Abul Ala Maududi 30 years to complete, from 1942 to 1972. <br><br>
    The work is much more than a traditional commentary on the scripture as it contains discussions and debates
    regarding economics, sociology, history, and politics. Maududi provides an explanation of the Qur'anic verses from
    the Sunnah of Prophet MUHAMMAD(ﷺ), including the historical reasons behind the verses. The commentary deals
    extensively with issues faced by the modern world in general and the Muslim community in particular.<br><br>
    This app provides the entire, original and unabridged content of the work in an audio format. Each of the six
    volumes are presented separately and tapping these, opens the audio commentary of each surah in the volume.<br><br>
    The app also contains complete Arabic recitation of the Quran and verse-by-verse translation in Urdu, Pashto and
    Hindi.<br><br>
    <b>ESP interactive solutions</b> have developed this app and made it free to download and use, without any
    commercial intent. Hence, there are no adverts or ‘premium’ versions and users will never be required to upgrade
    this version. The audio content has been obtained from http://www.quranurdu.com/tafa/, where it is available
    to download. It is hoped that this app will enable the commentary to reach a wide and global audience. Please
    contribute towards this cause by spreading the word.
  </p>



</ion-content>


<!-- POPUP MENU -->
<div class="popup-box" [hidden]="popup_menu">
  <ion-list>
    <ion-item>
      <a href="http://www.quranurdu.com/tafa/"><i class="list_icon fa fa-globe"></i></a>

    </ion-item>

    <ion-item (click)="contact()">
      <i class="list_icon fa fa-envelope-o"></i>
    </ion-item>

    <ion-item (click)="about()">
      <i class="list_icon fa fa-file-text"></i>
    </ion-item>

  </ion-list>
</div>