<!--
  Generated template for the VolcategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-bckgrd">
    <ion-navbar class="navbar-header">
        <ion-title class="vol-title">Volume {{volume_id}}</ion-title>
        <img src="assets/imgs/icon3.png" class="icon2class volicon" (click)="popover()" />
    </ion-navbar>
    <ion-searchbar type="text" [(ngModel)]="searchTerm" (ionInput)="getItems($event)" placeholder="Search by Surah name"></ion-searchbar>

</ion-header>


<ion-content class="body-img">
    <ion-card class="card-div" *ngFor="let surah of surahdata;let i = index">
        <!-- <ion-card-header class="header-card">
        Tafheem-ul-Quran
      </ion-card-header> -->

        <ion-list>
            <div style="position: relative;">
                <ion-spinner id="download_spinner_{{i}}" style="display:none;" class="buttonBubbleLoader" name="bubbles"></ion-spinner>
                <button ion-item class="volume-btn" id="download_btn_{{i}}" *ngIf="surah.download_flag == null" (click)="download(i, surah.surah_id, volume_id, surah.live_path)">
          <ion-icon  name="download"  class="download_icon" item-end></ion-icon>
        {{ volume_id }}.{{ i+1 }} : {{surah.surah_name}}
          </button>
            </div>
            <button ion-item class="volume-btn" id="play_btn_{{i}}" *ngIf="surah.download_flag != null" (click)="playdata(volume_id,surah.download_path,surah.surah_name)">
        <ion-icon [hidden]="play_btn" name="play"  class="download_icon" item-end></ion-icon>
        {{ volume_id }}.{{ i+1 }} : {{surah.surah_name}}
        </button>
        </ion-list>
    </ion-card>
</ion-content>



<!-- Loader popup-->
<div class="my-content loading" [hidden]="loader">

    <ion-spinner name="bubbles"></ion-spinner>
    <div> Loading</div>
</div>

<!-- POPUP MENU -->
<div class="popup-box" [hidden]="popup_menu">
    <ion-list>
        <ion-item>
            <a href="http://www.quranurdu.com/tafa/"><i  class="list_icon fa fa-globe"></i></a>

        </ion-item>

        <ion-item (click)="contact()">
            <i class="list_icon fa fa-envelope-o"></i>
        </ion-item>

        <ion-item (click)="about()">
            <i class="list_icon fa fa-file-text"></i>
        </ion-item>

    </ion-list>
</div>