@font-face {
    font-family: 'FajerNooriNastalique';
    src: url('../assets/fonts/urdu/FajerNooriNastalique.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/urdu/FajerNooriNastalique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/urdu/FajerNooriNastalique.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/urdu/FajerNooriNastalique.woff') format('woff'), /* Pretty Modern Browsers */
         url('../assets/fonts/urdu/FajerNooriNastalique.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/urdu/FajerNooriNastalique.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  

page-dashboard {

    .urdu{
        font-family: 'FajerNooriNastalique';
    }

}
.dash-label{
    font-size: 20px;
    white-space: normal;
    font-weight: 700;
    padding: 0px 15px 0px;
    text-align: center;
    color: white;
}

.dash-btn{
    display: table;
    width: 100%;
}

.dash-btn-text{
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    display: table-cell;
}

.dash-img{
    width: 40%;
    margin-top: 16px;
    
}

.dash-i{
    width: 50px;
    height:50px;
    float: left;
    margin-right: 20px;
}