<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-bckgrd">
  <ion-navbar class="navbar-header">
    <!-- <h1 style="color: white;">تفہیم القرآن</h1> -->
    <div style="display:inline-block;">
      <!-- <img src="assets/imgs/tuq-icon.png" class="logo-main" /> -->
      <span class="text-header">Tafheem-ul-Quran</span></div>
      <img src="assets/imgs/icon3.png" class="icon2class" (click)="popover()"/>
    
  </ion-navbar>
</ion-header>

<ion-content class="body-img" style="text-align:center;">

    <img src="assets/imgs/1.png" class="dash-img">

  <ion-card class="card-div">
    <!-- <ion-card-header class="header-card">
      Tafheem-ul-Quran
    </ion-card-header> -->
    <ion-list>
      <button ion-item class="volume-btn dash-btn" (click)="tafheemulquran('Tafheem-ul-quran')">
        <i class="dash-i"><img src="assets/imgs/holy-quran.png"  ></i>
        <!-- <ion-icon name="folder-open" item-start></ion-icon> -->
        <div class="dash-btn-text">
            Tafheem-ul-Quran <div >( ابو الاعلی مودودی‬ )</div>
        </div> 
      </button>
    </ion-list>
  </ion-card>

  <ion-card class="card-div">
      <!-- <ion-card-header class="header-card">
        Tafheem-ul-Quran
      </ion-card-header> -->
      <ion-list>
        <button ion-item class="volume-btn dash-btn" (click)="translation()">
          <i class="dash-i"><img src="assets/imgs/reading-quran.png"  ></i>
          <!-- <ion-icon name="folder-open" item-start></ion-icon> -->
          <div class="dash-btn-text">
              Quran Translation <div >( ترجمہ  کے ساتھ قرآن‬ )</div>
          </div> 
        </button>
      </ion-list>
    </ion-card>
  
    <div [hidden]="translate_data">

        <ion-card class="card-div" *ngFor="let cat of translation_cat">
            <!-- <ion-card-header class="header-card">
              Tafheem-ul-Quran
            </ion-card-header> -->
          
            <ion-list>
              
              <button ion-item class="volume-btn" (click)="category(cat.id, cat.cat_name)">
                <ion-icon name="folder-open" item-start></ion-icon>
                <div style="font-size: 21px;
                font-weight: 500;" >{{cat.cat_name}}</div>
              </button>
        
            </ion-list>
          </ion-card>


          

    </div>

  </ion-content>

 <!-- POPUP MENU -->
<div class="popup-box" [hidden]="popup_menu">
  <ion-list>
    <ion-item> 
      <a href="http://www.quranurdu.com/tafa/"><i  class="list_icon fa fa-globe"></i></a>
         
    </ion-item>
    
    <ion-item (click)="contact()">
        <i class="list_icon fa fa-envelope-o"></i>
    </ion-item>
    
    <ion-item (click)="about()">
        <i  class="list_icon fa fa-file-text"></i>
    </ion-item>
    
  </ion-list>
</div>