<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-bckgrd">
  <ion-navbar class="navbar-header">
    <!-- <h1 style="color: white;">تفہیم القرآن</h1> -->
    <div style="display:inline-block;">
      <!-- <img src="assets/imgs/tuq-icon.png" class="logo-main" /> -->
      <span class="text-header">Contact</span></div>
      <img src="assets/imgs/icon3.png" class="icon2class" (click)="popover()"/>
    
  </ion-navbar>
</ion-header>

<ion-content class="body-img" style="text-align:center;">
    <p class="about-content">
        Please contact us at: <br>
        <b>Developers@espinsight.com</b>
    </p>

</ion-content>


 <!-- POPUP MENU -->
 <div class="popup-box" [hidden]="popup_menu">
    <ion-list>
      <ion-item> 
        <a href="http://www.quranurdu.com/tafa/"><i  class="list_icon fa fa-globe"></i></a>
           
      </ion-item>
      
      <ion-item (click)="contact()">
          <i class="list_icon fa fa-envelope-o"></i>
      </ion-item>
      
      <ion-item (click)="about()">
          <i  class="list_icon fa fa-file-text"></i>
      </ion-item>
      
    </ion-list>
  </div>