page-home {}

.card-md,
.card-ios {
    background: none;
}

.header-bckgrd {
    background: #065325;
}

.body-img {
    background-image: url(../assets/imgs/img1.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.subheader-div {
    color: #065325;
    background: white;
    font-weight: 600;
    padding: 10px;
    /* margin-left: 15px; */
    /* border: 1px dotted; */
    text-align: center;
}

.card-div {
    border-radius: 10px;
}

.icon2class {
    float: right;
    padding-top: 14px;
    padding-right: 11px;
}

.header-card {
    background: #548A23;
    color: white;
    font-size: 20px;
    white-space: normal;
    font-weight: 600;
}

.volume-btn {
    background-color: rgba(0, 0, 0, 0.3);
}

.item-md,
.item-ios {
    color: white;
}

.item-md.activated,
.item-ios.activated {
    background: rgba(0, 0, 0, 0.5);
}

.logo-main {
    width: 55px;
    float: left;
}

.navbar-header {
    text-align: center;
}

.navbar-header2 {
    background: #065325;
}

.toolbar-background-md,
.toolbar-background-ios {
    border-color: #b2b2b2;
    background: transparent;
}

.text-header {
    color: white;
    vertical-align: middle;
    font-size: 20px;
    line-height: 2.6;
    padding: 10px;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default,
.bar-button-default-ios,
.bar-button-clear-ios-default,
.bar-button-ios-default {
    color: #fff;
    background-color: transparent;
}

.toolbar-title-md,
.toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.vol-title {
    display: inline-block;
}

.volicon {
    padding-top: 2px;
}

.transicon {
    padding-top: 5px;
}

/// POPUP
.popup-box {
    padding: 8px;
    border-radius: 2px;
    width: 70px;
    top: 55px;
    color: #000;
    background: #fcfcfc;
    -webkit-box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 5px 2px rgba(0, 0, 0, 0.1);
    right: 0;
    left: auto !important;
    position: absolute;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.popup-box .item-md {
    padding: 0 !important;
}

.popup-box .fa {
    font-size: 30px !important;
    padding: 13px;
}

.popup-box .list_icon {
    font-size: 30px;
    color: #065325;
    margin: 0px 0px 0px 0px;
}

.popup-box .label,
.popup-box .list {
    margin: 0 !important;
}

.popover-ios .popover-content {
    top: 40px !important;
}

.about-content {
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 15px;
}

.buttonBubbleLoader {
    position: absolute;
    left: 40%;
    top: 10px;
}

.searchbar-md {
    background: #065325;
    padding: 10px;
}

.searchbar-md .searchbar-input {
    border-radius: 5px;
}
