<ion-header>
    <ion-navbar class="navbar-header navbar-header2">
        <!-- <h1 style="color: white;">تفہیم القرآن</h1> -->
        <div style="display:inline-block;">
            <!-- <img src="assets/imgs/tuq-icon.png" class="logo-main" /> -->
            <span class="text-header">{{name}}</span></div>
        <img src="assets/imgs/icon3.png" class="icon2class" (click)="popover()" />

    </ion-navbar>
    <!-- <div [hidden]="subheader_online" class="subheader-div" (click)="playonline(liveurl,imgurl)"><strong>Last Seen</strong>  <br/>Volume {{volume_id}} , Surah Name {{surah_name}}
    <br/>
    Click here to Resume
  </div> -->
    <div [hidden]="subheader_offline" class="subheader-div" (click)="playoffline(liveurl,surah_name)"><strong>Last Seen</strong> <br/>Volume {{volume_id}} , Surah Name {{surah_name}}
        <br/> Click here to Resume
    </div>
</ion-header>

<ion-content class="body-img">
    <!--  -->

    <ion-card class="card-div" *ngFor="let vol of volume;let i=index">
        <!-- <ion-card-header class="header-card">
      Tafheem-ul-Quran
    </ion-card-header> -->
        <!--  -->
        <ion-list>
            <!-- <div style="position: relative;">

                <ion-spinner id="download_spinner_{{i}}" class="buttonBubbleLoader" name="bubbles"></ion-spinner>
                <div> 50% </div>
                <button ion-item class="volume-btn" id="download_btn_{{i}}">
          <ion-icon  name="download"  class="download_icon" item-end></ion-icon>
        1
          </button>
            </div>  -->

            <button id="button_{{i}}" ion-item class="volume-btn" (click)="category(vol.id, name)">
        <ion-icon name="folder-open" item-start></ion-icon>
        {{vol.volume}}
      </button>


        </ion-list>
    </ion-card>
</ion-content>


<!-- POPUP MENU -->
<div class="popup-box" [hidden]="popup_menu">
    <ion-list>
        <ion-item>
            <a href="http://www.quranurdu.com/tafa/"><i  class="list_icon fa fa-globe"></i></a>

        </ion-item>

        <ion-item (click)="contact()">
            <i class="list_icon fa fa-envelope-o"></i>
        </ion-item>

        <ion-item (click)="about()">
            <i class="list_icon fa fa-file-text"></i>
        </ion-item>

    </ion-list>
</div>
