page-translation {
    .toolbar-title-md, .toolbar-title-ios {
        font-size: 25px;
    }

    .download_icon{
        //border-right: solid 2px white;
        padding-right: 8px;
        margin-left: 10px;
        font-size: 20px !important;
        line-height: 25px !important;
    }
    
    .my-content{
        z-index: 9999;
        position: absolute;
        overflow: hidden;
        max-width: 100%;
        border-radius: 2px;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 0;
        box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        background-color: rgba(0,0,0,0.4);
    }

    .loading{
        text-align: center;
        padding: 70% 0;
        font-size: 20px;
    }
     
    ion-spinner {
     // width: 28px;
     // height: 28px;
       stroke: #ccc;
       fill: #ccc;
     }

     .subheader-div{
        color: #065325;
        background: white;
        font-weight: 600;
        padding: 10px;
        /* margin-left: 15px; */
        /* border: 1px dotted; */
        text-align: center;
    }
    
}
