<!--
  Generated template for the TranslationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="navbar-header navbar-header2">
        <ion-title style="font-size:25px;" class="vol-title">{{cat_name}}</ion-title>
        <img src="assets/imgs/icon3.png" class="icon2class transicon" (click)="popover()" />
    </ion-navbar>
    <!-- <div [hidden]="subheader_online_urdu" class="subheader-div" (click)="playonline(liveurl,imgurl)"><strong>Last Seen</strong>  <br/>Surah Name {{surahname}}
    <br/>
    Click here to Resume
  </div> -->
    <ion-searchbar type="text" [(ngModel)]="searchTerm" (ionInput)="getItems($event)" placeholder="Search by Surah name"></ion-searchbar>
    <div [hidden]="subheader_offline_urdu" class="subheader-div" (click)="playoffline(liveurl,surahname)"><strong>Last Seen</strong> <br/>Surah Name {{surahname}}
        <br/> Click here to Resume
    </div>
    <!-- <div [hidden]="subheader_online_pushto" class="subheader-div" (click)="playonline(liveurl,imgurl)"><strong>Last Seen</strong>  <br/> Surah Name {{surahname}}
        <br/>
        Click here to Resume
      </div> -->
    <div [hidden]="subheader_offline_pushto" class="subheader-div" (click)="playoffline(liveurl,surah_name)"><strong>Last Seen</strong> <br/> Surah Name {{surahname}}
        <br/> Click here to Resume
    </div>
    <!-- <div [hidden]="subheader_online_hindi" class="subheader-div" (click)="playonline(liveurl,imgurl)"><strong>Last Seen</strong>  <br/> Surah Name {{surahname}}
            <br/>
            Click here to Resume
          </div> -->
    <div [hidden]="subheader_offline_hindi" class="subheader-div" (click)="playoffline(liveurl,surah_name)"><strong>Last Seen</strong> <br/>n Surah Name {{surahname}}
        <br/> Click here to Resume
    </div>
</ion-header>


<ion-content class="body-img">



    <ion-card class="card-div" *ngFor="let surah of surahdata;let i = index">
        <!-- <ion-card-header class="header-card">
          Tafheem-ul-Quran
        </ion-card-header> -->

        <ion-list>
            <div style="position: relative;">

                <ion-spinner id="download_spinner_{{i}}" style="display:none;" class="buttonBubbleLoader" name="bubbles"></ion-spinner>
                <!-- <div id="download_status_{{i}}" style=" display:none; position: absolute;
                z-index: 99999;
                color: white;
                text-align: center;
                left: 50%;
                top: 30%;"> {{ downloadStatus }}% </div> -->
                <button ion-item class="volume-btn" id="download_btn_{{i}}" *ngIf="surah.download_flag == null" (click)="download(i, surah.surah_id, cat_id, surah.live_path, surah.surah_name)">
              <ion-icon  name="download"  class="download_icon" item-end></ion-icon>
             {{ i+1 }}. {{surah.surah_name}}
              </button>
            </div>
            <button ion-item class="volume-btn" id="play_btn_{{i}}" *ngIf="surah.download_flag != null" (click)="playdata(cat_id,surah.download_path,surah.surah_name)">
            <ion-icon [hidden]="play_btn" name="play"  class="download_icon" item-end></ion-icon>
           {{ i+1 }}. {{surah.surah_name}}
            </button>
        </ion-list>
    </ion-card>

</ion-content>

<!-- Loader popup-->
<div class="my-content loading" [hidden]="loader">

    <ion-spinner name="bubbles"></ion-spinner>
    <div> Loading</div>
</div>

<!-- POPUP MENU -->
<div class="popup-box" [hidden]="popup_menu">
    <ion-list>
        <ion-item>
            <a href="http://www.quranurdu.com/tafa/"><i  class="list_icon fa fa-globe"></i></a>

        </ion-item>

        <ion-item (click)="contact()">
            <i class="list_icon fa fa-envelope-o"></i>
        </ion-item>

        <ion-item (click)="about()">
            <i class="list_icon fa fa-file-text"></i>
        </ion-item>

    </ion-list>
</div>
