page-mediaplayer {
    .play-pause-btn {
        display: inline-block;
        width: 80px;
        height: 80px;
        box-shadow: 0 0 10px #999;
        font-size: 2.3em;
        border-radius: 50%;
    }

    .skip-btn {
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 10px #999;
    }
}
