<!--
  Generated template for the MediaplayerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-bckgrd">
    <ion-navbar class="navbar-header">
        <ion-title class="vol-title">{{name}}</ion-title>
        <img src="assets/imgs/icon3.png" class="icon2class volicon" (click)="popover()"/>
      </ion-navbar>
  </ion-header>
  
  <ion-content class="body-img">
      
      
    <div style="margin: 50% 0;">
      <div>
        <ion-range min="0" (ionChange)="change(position)" max="{{duration}}" [(ngModel)]="position">
          <!--  [disabled]="is_in_play && is_playing"  -->
          <ion-label style="font-size:16px;" *ngIf="duration > 3599" range-left>
            {{ position*1000 |  date:'H:mm:ss':'UTC' }}</ion-label>
          <ion-label style="font-size:16px;" *ngIf="duration<=3599" range-left>{{ position*1000 |  date:'mm:ss' }}
          </ion-label>
  
          <ion-label style="font-size:16px;" range-right *ngIf="duration == -1">--:--</ion-label>
          <ion-label style="font-size:16px;" range-right *ngIf=" duration > 3599 && duration != -1 ">
            {{ duration*1000 | date:'H:mm:ss':'UTC' }}</ion-label>
          <ion-label style="font-size:16px;" range-right *ngIf="duration != -1 && duration <= 3599">
            {{ duration*1000 | date:'mm:ss':'UTC' }}</ion-label>
  
        </ion-range>
      </div>
      <br>
    
      <ion-grid>
        <ion-row style="height: 100%;text-align: center;">
          <ion-col>
            <!-- Backwards -->
            <button ion-button class="skip-btn" color="primary" [disabled]="!is_ready || !is_in_play" (click)="controlSeconds('back')">
                    &nbsp;&nbsp;<ion-icon name="skip-backward"></ion-icon>&nbsp;&nbsp;
            </button>
          </ion-col>
          <ion-col>
            <!-- Play/Pause -->
            <button ion-button class="skip-btn" (click)="playRecording()" color="primary" *ngIf="!is_playing" [disabled]="!is_ready">
              <ion-icon name="play"></ion-icon>
            </button>
  
            <button ion-button class="skip-btn" (click)="pausePlayRecording()" color="secondary" *ngIf="is_playing" [disabled]="!is_ready">
              <ion-icon name="pause"></ion-icon>
            </button>
          </ion-col>
           
          <ion-col>
            <!-- Forwards -->
            <button ion-button class="skip-btn" color="primary" (click)="stop()">
                    &nbsp;&nbsp;<ion-icon name="square"></ion-icon>&nbsp;&nbsp;
            </button>
          </ion-col>
          <ion-col>
            <!-- Forwards -->
            <button ion-button class="skip-btn" color="primary" [disabled]="!is_ready || !is_in_play" (click)="controlSeconds('forward')">
                    &nbsp;&nbsp;<ion-icon name="skip-forward"></ion-icon>&nbsp;&nbsp;
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

      </div>
  </ion-content>
<!-- POPUP MENU -->
<div class="popup-box" [hidden]="popup_menu">
  <ion-list>
    <ion-item> 
      <a href="http://www.quranurdu.com/tafa/"><i  class="list_icon fa fa-globe"></i></a>
         
    </ion-item>
    
    <ion-item (click)="contact()">
        <i class="list_icon fa fa-envelope-o"></i>
    </ion-item>
    
    <ion-item (click)="about()">
        <i  class="list_icon fa fa-file-text"></i>
    </ion-item>
    
  </ion-list>
</div>


