<!--
  Generated template for the RakooPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-bckgrd">
    <ion-navbar class="navbar-header">
    <ion-title >{{surah_name}}</ion-title>
    <img src="assets/imgs/icon3.png" class="icon2class" (click)="popover()"/>
  </ion-navbar>

</ion-header>


<ion-content class="body-img">

  <div [hidden]="debacha_hidden">
    <ion-card class="card-div" *ngFor="let debacha of debacha"> 
      <ion-list>
          <button ion-item class="volume-btn" (click)="playdata(debacha.url)">
            <ion-icon name="play" item-start></ion-icon>
              {{debacha.rakoo_name}}
          </button>
      </ion-list>
    </ion-card>
  </div>

  <div [hidden]="muqadma_hidden">
      <ion-card class="card-div" *ngFor="let muqadma of muqadma">  
        <ion-list>
            <button ion-item class="volume-btn" (click)="playdata(muqadma.url)">
              <ion-icon name="play" item-start></ion-icon>
                {{muqadma.rakoo_name}}
            </button>
        </ion-list>
      </ion-card>
  </div>
  
  <div [hidden]="rakoo_hidden">
      <ion-card class="card-div" *ngFor="let rukoo of rakoo_data"> 
        <ion-list>
            <button ion-item class="volume-btn" (click)="playdata(rukoo.url)">
              <ion-icon name="play" item-start></ion-icon>
                {{rukoo.rakoo_name}}
            </button>
        </ion-list>
      </ion-card>
  </div>
    
</ion-content>
